button{cursor: pointer;}
.content{max-width:1200px;margin:0 auto;margin-top:134px;}
.bestsell_btn{
    position: absolute;right:80px;
    bottom:130px;z-index: 1; 
    width:120px;height:40px;
    background:#fff;color:#000;
    text-align: center;
}
.topimg0,.shoes,.clothes,.etc_sec_wrap{margin-bottom:84px;}
.shoes_best_sec,.clothes_best_sec,.sports_best_sec,.etc_sec_wrap{ margin:0 auto; margin-top:52px;}
.goods_wrap > p{font-size:25px;font-weight: bold;text-align: center;letter-spacing: -1px;  }
.goods_wrap > span{
    display: block;margin-bottom:10px;
    font-size:16px;font-weight: normal;text-align: right;
    color:#777;cursor: pointer;
}
.goods_wrap{max-width:1000px;margin:0 auto; margin-bottom:48px;}
.goods_sec{    
    position: relative;display: inline-block;
    margin-right:20px;margin-bottom:20px;    
    width:230px;height:326px; 
}
.goods_sec img{cursor: pointer;}
.right_zero{margin-right:0;}
.goods_info{margin-top:5px; width:230px; height:92px;box-sizing: border-box;}
.goods_info > p.goods_name{height:48px;font-weight: bold; cursor: pointer;}
.goods_info > p.goods_cost{font-size: 14px;color:#777;}
.black{
    position: absolute;top:0;left:0;
    width:230px;height:230px;
    background:rgba(0,0,0,0.5);opacity: 0;
    transition: all .3s;cursor: pointer;
}
.goods_sec:hover .black{opacity: 1;}
.view_more{
    position: absolute;top:50%;left:50%;
    transform: translate(-50%,-50%);
    width:100px;height:40px;
    font-size:14px;background:#fff;color:#000;border:1px solid;border-radius: 2px;
}
.etc_sec{float: left;height:490px;text-align: center;}
.etcbox_wrap{overflow: hidden;width: 600px;height:432px; }
.etc_box1:hover{ transform: scale(1.2);cursor: pointer;}
.etc_box2:hover{ transform: scale(1.2);cursor: pointer;}
.text_box{overflow: hidden; margin-top:10px; height:18px;}
.text_box > .p1,.p2{font-size: 14px;text-decoration: underline;transition: all .3s;cursor: pointer;}
.etc_sec:hover .p1{ transform: translateY(-24px);}
.etc_sec:hover .p2{ transform: translateY(-18px);}