.main_slide_box{
    position: relative;top:0;left:0;
    width:100%; height:725px;overflow: hidden;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);          
    background-attachment: fixed;  
}
.slide{position: absolute; left:100%;top:0;width:100%;height:100%;  }
.slide_img .img1{background:url('../img/header_slide1.png')no-repeat;}
.slide_img .img2{background:url('../img/header_slide2.png')no-repeat;}
.slide_img .img3{background:url('../img/header_slide3.png')no-repeat;}
.slide_img .img4{background:url('../img/header_slide4.png')no-repeat;}
.btn_slide{
    position: absolute; z-index: 2;
    width:300px;height:100%;
    font-size:100px;color:#fff;
}
.btn_slide >span{position: absolute;left:50%;top:50%;transform: translate(-50%,-50%); cursor: pointer;}
#btn_left{left:0; top:0;}
#btn_right{right: 0;top:0;}
/* ------------------------------------------------------- */
.content{background:url('../img/behind.png') no-repeat center; background-attachment: fixed;}
.only_font{line-height: 322px;text-align: center;}
.only_font > p{ min-width:586px;font-size: 18px;letter-spacing: 25px;color:#fff;}
.new_release{padding:48px 0 48px 0; text-align: center;background:#dcdde1;}
.new_release > p{font-size:4em; font-weight: bold;}
.last_img img{max-width: 100%; width /***/: auto; /* IE8 */ height: auto;vertical-align: bottom;}
.re_img_jordan{background:url('../img/air_jordan33.png')}
.re_img_applewatch{background:url('../img/apple_watch.png')}
.release_img{position: relative;width:100%;height:658px;}
.fix1200{position: absolute; top:50%; left:19%;}
.showmore2{
    display: inline-block;margin-bottom:15px; padding:10px 15px; 
    position: absolute; top:50%; left:30%; width:150px;
    font-size: 16px;text-align: center;text-decoration: none; background-color: #000; color:#fff;
    transition:all .3s ease;  box-sizing: border-box;
}
.sbtn_3,.sbtn_4{margin-top:50px;}
.showmore2:hover{ background-color:#fff;color:#000;border:1px solid;box-sizing: border-box;}   
/* --------------------------------------- */
.air_kidgame_box{text-align: center;}
.img23_boxwrap1,
.img23_boxwrap2{display: inline-block; margin-top:32px; transition:all .35s;}
.img23_boxwrap2{margin-left:20px;}
.ak_goodsbox{overflow: hidden;        }
.re_img1{width:670px; height:402px;transition:all .35s;background:url('../img/release_img1.png') no-repeat;}
.re_img2{width:670px; height:402px;transition:all .35s;background:url('../img/release_img2.png') no-repeat;}
.ak_goodsbox:hover .re_img1,
.ak_goodsbox:hover .re_img2{transform: scale(1.1);}
.na_title{margin-top:30px;font-size: 30px; font-weight: bold;}
.na_title p:nth-child(2){margin-top:30px;}
.showmore{
    display: inline-block; margin-top:25px; padding:10px 15px;
    width:280px;border:1px solid #000;border-radius: 1px;box-sizing: border-box;   
    text-align: center;background-color: #000;color:#fff;transition:all .3s ease; 
}
.showmore:hover{background-color:#fff;color:#000;box-sizing: border-box;}
.men_women_kid{padding:30px 0 50px;box-sizing: border-box;text-align: center;background:#232323;}
.img3-1{background:url('../img/men.png');}
.img3-2{background:url('../img/women.png');}
.img3-3{background:url('../img/kid.png');}
.men_women_kid > p{ font-size:50px;font-weight: bold;color:#fff;}
.men_women_kid > p:first-child{margin-bottom:-15px;font-size:40px;}
.img3_boxwrap{
    display: inline-block; margin-top:24px; padding:0 20px 0;box-sizing: border-box;
    width:331px;height:438px;
}  
.img3s{ position: relative;width:100%;height:100%; }
.img3_boxwrap:last-child{ margin-right: 0;}
.boxwrap_p{
    position: absolute;bottom:0;
    width:100%;height:160px;
    font-size:30px;font-weight: bold; color:#fff;background:rgba(0,0,0,0.5);
}
.boxwrap_p > p{margin-top:20px;}
.collection_btn{
    display:block; margin:0 auto;margin-top:10px;padding:5%;
    width:120px; border: 1px solid rgba(255,255,255,.5);background-color: #000;border-radius: 2px;color:#fff;
    font-size: 16px; font-weight:normal;text-align: center;box-sizing: border-box;transition:all .3s ease;
}
.collection_btn:hover{border:1px solid #000;background-color:#fff; color:#000;box-sizing: border-box;}
/* -------------------------------------------------------------- */
.best_seller{
    padding:50px;box-sizing: border-box;
    text-align: center; background:url('../img/bestseller_back.png') no-repeat;
}
.bestsell_box{
    position: relative;margin:0 auto;
    width:1200px; height:236px; overflow: hidden; 
} 
.best_seller > p{font-size:50px; font-weight: bold;color:#fff;}
.best_seller> p.arrival{margin-bottom:25px;font-size:25px;}
.bestsell_btn{
    position: absolute;width:50px;height:100%;
    font-size:2em; font-weight:800;  
}
.bestsell_btn >span{
    position: absolute;top:50%;left:50%;transform: translate(-50%,-50%);
    width:50px; height:50px;
    background:rgba(0,0,0,0.2);color:#fff;
    cursor: pointer;transition:all .3s linear;
}

.bestsell_btn >span:hover{background:rgba(0,0,0,0.5);}
#btn_left2{ top:0;left:-5px;}
#btn_right2{top:0;right: 1px;}
.slide_section{position: absolute; left:80px;width:3000px; height:100%;}
.slide_section li{float: left; margin:0 10px 0 10px;width:236px; height:236px;}
.slide_section li a{display: block;}
/* --------------------------------- */
.banner_img { 
    padding:50px;margin-bottom:112px;box-sizing: border-box;
    text-align: center;background:linear-gradient(to bottom, #303030 10%, transparent); 
}
.banner{position: relative;display: inline-block;padding:10px;margin-bottom:20px;} 
.find_store{width:292px; height:416px;background:url('../img/last_off.jpg') no-repeat;transition:all .3s; }
.banner:hover  .find_store{background:url('../img/last_on.jpg') no-repeat;}
.see_nrc_club{width:292px;height:416px;background:url('../img/last2_off.jpg') no-repeat;transition:all .3s;}
.banner:hover  .see_nrc_club{background:url('../img/last2_on.jpg') no-repeat;}
.last_btn{
    position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);
    width:130px;height:48px;
    border:1px solid #fff; border-radius: 2px;background-color: #000;
    font-size: 12px;  text-align: center;line-height:48px;color:#fff;
    box-sizing: border-box;transition:all .3s ease;         
}
.banner:hover .last_btn{background-color:#fff; border: 1px solid #000; color:#000; box-sizing: border-box;}