.ham_box{display: none;cursor: pointer;}
.wrap{position: fixed;top:0;width:100%;z-index: 9998;}
header{ margin:0 auto;text-align: center;}
.top{margin:auto; padding:0 28px 0; height:34px;}
.top > ul{max-width:1200px;  margin:0 auto;text-align: right;}
.top > ul >li{display: inline;padding-left:20px;line-height: 34px;color:#fff;}

.top > ul > li:first-child::before{
    display: inline-block;
    position: relative;top:2px;
    content:url('../img/cart_red.png');background-size:20px 17px; 
}
.top > ul > li > a{ padding:7px 0 7px 6px; font-size: .8em; color:#fff;}
/* ------------------------------- */
nav{max-width:1200px;margin:0 auto;padding:0 28px 0;}
.logo{
    position: absolute;top:60px;
    float:left; width:118px; height: 100px;
    background: url('../img/logo.png') no-repeat;background-size:contain;
}
nav > ul{display: inline-block;margin-left:20%;line-height: 100px;}
nav > ul > li{float: left;padding-right:20px;transition: all .3 linear;}
nav ul li a{display: block;font-size:1em; font-weight: 700; color:#fff; }
.search_box{position: relative; top:30px;float:right;width:20%;}
input[type='search']{border:none;padding:10px;padding-left:40px; box-sizing: border-box; }
.search_box .icon{
    position: absolute;margin-left:10px; margin-top:8px;
    width:20px; height:20px;
    background:url('../img/search-icon.png') no-repeat;background-size: cover;
}
input::-ms-clear,input::-ms-reveal {display: none; width : 0; height: 0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

/* ------------------------------------------------------ */
.twodepth{
    display: none;z-index: 9999;
    position: absolute; left:0;margin:0 auto;width:100%;
    text-align: left; line-height: 30px;
    background:#fff;border-bottom:1px solid #797979;
}
nav ul.subs1200{
    display: flex; z-index: 9999;
    max-width:1200px;margin:0 auto;overflow: hidden;   
    background:#fff;box-sizing: border-box;  
}
nav ul.subs1200 li.sub_li{
    clear: both;padding:35px;width:20%;
    border-left:1px solid #ddd; box-sizing: border-box;  
}
nav ul.subs1200 li.sub_li:first-child,
nav ul.subs1200 li.border_none{border: none;}
li.sub_li ul li a{font-weight: 400;color:#232323;}
nav ul.subs1200 > li > a {line-height: 24px; font-size: 1.2em;font-weight:900; color: #000;}
li.sub_li ul{
    clear: both;
    display: inline-block;padding: 6px 6px 6px 0;height:100%;
    vertical-align: top; font-size:14px;
}
.menu_img a{margin-left:-35px; margin-top:-40px; }
.menu_img p{
    display: inline-block;
    position: absolute;top:300px;
    width:227px;margin-left:-35px;
    text-align: center;font-size: 14px;  
}
.menu_img p:last-child{
    position: absolute;top:330px;
    font-size: 20px; font-weight: 600;text-align: center; 
}
nav >ul > li:hover .twodepth {display: block;}
.kids{padding-left:8px;}
li.kids_size > a{font-weight:900;}
.bold {font-weight: bold;}
footer{clear:both;overflow: hidden; text-align: center;background:#232323;}
.news_letter{
    padding:20px;line-height: 100px;
    border-bottom:1px solid #393939;box-sizing: border-box;
}
.news_letter span{color:#fff;}
input[type='email']{
    padding:10px;margin-left:20px;
    width:250px; height:40px;box-sizing: border-box; 
}
.emailsubmit {
    display: inline-block; padding:10px 15px;
    width:100px;height:40px;
    border: none; color:#fff; background: #000;
    font-size: 15px;text-align: center;box-sizing: border-box;
}
.footer_ulbox{clear: both;max-width:1200px;margin:0 auto; margin-bottom: 30px;}
.footer_ulbox .footer_ul{
    overflow: hidden;
    padding: 50px; margin-bottom: 36px;box-sizing: border-box;
    text-align: left;line-height: 18px;font-weight: 800;color:#fff;
}

.footer_ul > li{width:calc(100% / 5); float: left;}
.onlinemall p{ font-size:16px; font-weight: bold; color:#fff; font-family: none;}
.footer_ul > li > ul{text-align: left;}
.footer_ul > li > ul li{margin-top:10px;font-size:14px; font-weight: 400;}
.footer_ul > li > ul li a{color:#bdbdbd;}
.address > p{
    margin-bottom:84px; padding-left:50px;
    font-size: 12px;text-align: left; color: #bdbdbd;
}