    .top > ul{
        text-align: center;
    }
    .top > ul > li{
        padding-left: 15px;
    }
    .top > ul > li > a{
        color:#000;
    }
    .logo{
        width:70px;
        height:50px;
        background: url('../img/logo.png') no-repeat;
        background-size: contain;
        top:45px;
    }
    .search_box{
        display: none;
    }
    header{
        background:#fff;
        height:80px;
    }
    .slide_box{margin-top:80px; height:250px};
    .slide_img .img1{background:url('../img/header_slide1_mobile.png')no-repeat;}
    .slide_img .img2{background:url('../img/header_slide2_mobile.png')no-repeat;}
    .slide_img .img3{background:url('../img/header_slide3_mobile.png')no-repeat;}
    .slide_img .img4{background:url('../img/header_slide4_mobile.png')no-repeat;}
    .btn_slide{
       width:10%;
       font-size:70px;
   }
   .only_font{
       line-height: 110px;
   }
   .only_font > p{
       min-width: auto;
       text-align: center;
       letter-spacing: 8px;
   }
   .img3_boxwrap{
       width:30%;
       height:268px;
       padding:0 10px 0;
   }
   .img3-1,
   .img3-2,
   .img3-3{
       background-size: cover;
       background-position: center;
   }
   .boxwrap_p{
       height:112px;
       font-size:16px;
   }
   .boxwrap_p > p{
       margin-top:20px;
   }
   .collection_btn{
       width:70%;
       font-size: 13px;
   }
   .showmore2{
       display: none;
   }
   .img23_box{
       padding:28px;
   }
   .img23_boxwrap1,
   .img23_boxwrap2{
       display: block;
       font-size:0.875em;
       margin-left:0;
   }
   .re_img_jordan{background:url('../img/air_jordan33_mobile.png')}
   .re_img_applewatch{background:url('../img/apple_watch_mobile.png')}
   .release_img{
       height:252px;
   }
   .re_img1,
   .re_img2{
       height:335px;
   }
   .na_title{
       font-size:1.5em;
   }
    .slide_section{
       margin-left:25px;
   }
   .bestsell_box{
       width:auto;
   }
   .bestsell_btn > span{
       color:#000;
       height:auto;
       background:transparent;
   }
   .banner_img{
       padding:0;
       margin-bottom: 0;
   }
   .best_seller > p{
       font-size:2em;
   }
   .best_seller> p.arrival{
       font-size:0.875em;
       font-weight: normal;
   }
   .banner{
       width:50%;
       padding:0;
       float:left;
   }
   .find_store,
   .see_nrc_club{
       background:none;
       width:50%;
       height:200px;
       overflow: hidden;
   }
   .last_btn{
       font-weight: normal;
   }
   .news_letter{
       line-height: 50%;
   }
    nav ul{
        display: none;
    }
   .footer_ulbox{
       display: none;
   }
   .goods_wrap{
        text-align: center;
    }
    .goods_sec{
        width:49%;
        margin-right:0;
    }
    .thumbnail{
        height: 700px;
        padding:0;
    }

    .section2{
        width:100%;
        clear: both;
    }
    .section1-2 > ul > li{
        width:calc(100% / 6);
        text-align: center;
        float: left;
        font-weight: normal;
        padding:15px 0px;
    }
    .section1-2 .product > li >a{
        font-size:12px;
    }
    .thumb_relative1,
    .thumb_relative2,
    .thumb_relative3,
    .thumb_relative4,
    .thumb_relative1 > div,
    .thumb_relative2 > div,
    .thumb_relative3 > div,
    .thumb_relative4 > div{
        position: relative;
        left:auto;
    }
    .thumbnail .thumb_relative1{
        position: absolute;
        left:0;
        top:0;
    }
    .thumbnail .thumb_relative2{
        position: absolute;
        left:50%;
        top:0;
    }
    .thumbnail .thumb_relative3{
        position: absolute;
        left:0;
        top:50%;
    }
    .thumbnail .thumb_relative4{
        position: absolute;
        left:50%;
        top:50%;
    }
    .thumb_sec{
        width:calc((100% - (10px * 3)) /2);
        margin-right: 5px;
        margin-left:5px;
    }
    .category_onoff{
        display: none;
    }
    .thumb_sec div.sale{
        position: absolute;
        bottom:117%;
        right:1%;
    }

    .ham_box{
        display: block;
    }
    .mobile_menu > ul{
        position: absolute;
    }
    .show{
        left:20%;
    }
    .hide{
        left:100%;
    }
    .show_toggle{
        height:335px;
    }
    .news_letter{line-height:35px;}
    .news_letter span{
        display:block;
    }   
    input[type='email']{
        width:auto;
        margin-left:0;
    }