@media (min-width:1024px) and (max-width:1199px){
    .slide.img2{background:url('img/header_slide2.png') 20% 0 no-repeat ;
    background-attachment: fixed;}
    .slide.img3{background:url('img/header_slide3.png') 50% 0 no-repeat ;
    background-attachment: fixed;}
    .thumb_sec div.sale{position: absolute; bottom:117%; right:5px;}
    .mobile_menu,
    .panel-overlay{ display: none;}
}
